{% extends 'base.html' %}

{% block title %}AHVP{% endblock %}

{% block content %}
    <h1>Veri İndirme</h1>
    <p>Verileri indirmek için ilgili butonu kullanın:</p>
    <form action="{% url 'download_hasta_csv' %}" method="get" style="display:inline;">
        <button type="submit" class="btn-submit">Hasta Verisi İndir</button>
    </form>
    <form action="{% url 'download_muayene_csv' %}" method="get" style="display:inline;">
        <button type="submit" class="btn-submit">Muayene Verisi İndir</button>
    </form>
    <form action="{% url 'download_mri_csv' %}" method="get" style="display:inline;">
        <button type="submit" class="btn-submit">MRI Verisi İndir</button>
    </form>

{% endblock %}
