<nav class="menu-bar">
    <ul>
        <li>{% include 'components/button.html' with label="Yeni Hasta Kaydı" style_class="btn-menu" url="/yenihasta" %}</li>
        <li>{% include 'components/button.html' with label="Yeni Muayene" style_class="btn-menu" url="/yenimuayene" %}</li>
        <li>{% include 'components/button.html' with label="MRI FreeSurfer Görüntüle" style_class="btn-menu" url="/freesurfer-sonuc" %}</li>
        <li>{% include 'components/button.html' with label="Toplu Veri Yükleme" style_class="btn-menu" url="/toplu-veri-yukleme/" %}</li>

    </ul>
</nav>