{% extends 'base.html' %}

{% block content %}
    <h2>Muayene Arama</h2>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="GET" action="{% url 'search_examination_view' %}">
        {% csrf_token %}
        <div class="search-container">
            {% include 'components/textfield.html' with id="arama" label="Arama" name="arama" value="" placeholder="Ara..." style_class="search-input" %}
            <button type="submit" class="btn-submit">Ara</button>
        </div>
        <th>Lütfen hasta adı, hasta ID veya muayene ID ile arama yapınız.</th>
    </form>

    {% if arama_sonucu %}
        <div class="table-container">
            <table>
                <tr>
                    <th>Muayene ID</th>
                    <th>Hasta ID</th>
                    <th>Hasta Adı</th>
                    <th>Düzenle</th>
                </tr>
                {% for muayene in arama_sonucu %}
                <tr>
                    <td>{{ muayene.id }}</td>
                    <td>
                        <a href="{% url 'patient_detail_view' muayene.hasta.unique_hasta_id %}" style="color: rgb(205, 100, 100); font-weight: bold;">
                            {{ muayene.hasta.unique_hasta_id }}
                        </a>
                    </td>
                    <td>{{ muayene.hasta.isim }} {{ muayene.hasta.soyisim }} </td>
                    <td>
                        <a href="{% url 'edit_examination_view' muayene.id %}" style="color: rgb(205, 100, 100); font-weight: bold;">
                            Düzenle
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <p>Sonuç bulunamadı.</p>
    {% endif %}


     <!-- Styling for the table -->
     <style>
        .search-container {
            display: flex; /* Use flexbox to align children */
            align-items: center; /* Vertically center elements */
            box-sizing: border-box;
        }
        .textfield {
            margin-right: 10px;
            flex: 1;
            box-sizing: border-box;
        }
        .btn-submit {
            box-sizing: border-box;
            margin-top: 7px;
            height: 40px;
        }
        .textfield input{
            width: 100%;
            flex: 1;
        }
        .table-container {
            overflow-x: auto; /* Yatay kaydırma */
            width: 100%;
            max-width: 100%;
            position: relative;
            margin-top: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            font-size: 14px;
            border: 1px solid #d4d4d4;
        }

        table th, table td {
            padding: 12px 15px;
            text-align: left;
            border: 1px solid #d4d4d4;
        }

        table th {
            background-color: #f9f9f9;
            font-weight: bold;
            color: #333;
        }

        table tr:nth-child(odd) {
            background-color: #f9f9f9;
        }

        table tr:nth-child(even) {
            background-color: #dde1e6;
        }

        table tr:hover {
            background-color: #e3e3e3;
            transition: background-color 0.2s ease;
        }

        h2 {
            color: #333;
            margin-bottom: 20px;
        }

        .messages {
            list-style-type: none;
            padding: 0;
            margin: 15px 0;
        }

        .messages li {
            padding: 10px;
            margin: 5px 0;
            border-radius: 4px;
            color: #fff; /* Text color */
        }

        .messages li.success {
            background-color: #75cb89; /* Green for success */
        }

    </style>

{% endblock %}
